<form action="/users/signup" method="POST">
    <input type="email" name="email" placeholder="Inserte Email">
    <input type="password" name="password" placeholder="create a password">
    <input type="text" name="name" placeholder="Your user Name">
    <input type="number" min="1" name="age" placeholder="your age">
    <input type="text" name="phonenumber" placeholder="phone number">

    <button type="submit">
        signup
    </button>
</form>